:root {
  --primary-color: #fff;
  --primary-font: 'Lustria', serif;
  --secondary-font: 'Lato', serif;
}

/* Layouts */

.master-container {
  margin-top: 3.5rem;
}

.heading {
  text-align: center;
  margin-bottom: -1rem;
}

.content-container {
  width: 45%;
  height: 22rem;
  margin: 4.5rem auto 0;
  display: flex;
  flex-direction: column;
}

.quote-area {
  height: 65%;
  text-align: center;
  position: relative;
}

.quote-text {
  /* Vertically align */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 38%;
  margin: auto;
  padding: 0 2rem;
}

.author-area {
  display: flex;
  justify-content: space-between;
  padding: 2.75rem 3rem 0;
}

.refresh {
  margin-left: 1.5rem;
}

/* States */

.twitter:hover,
.refresh:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Styling */

body {
  letter-spacing: 0.4px;
  background-color: #eaf1f3;
}

.content-container {
  border: 1.5px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: rgba(23,43,99,0.26) 0 7px 42px;
}

.quote-area {
  border-bottom: .02px solid var(--primary-color);
}

.heading,
.quote-text,
.author-text {
  color: var(--primary-color);
}

.twitter,
.refresh,
.author-text {
  opacity: 0.7;
}

.twitter,
.refresh {
  stroke: var(--primary-color);
  transition:
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.02s,
    opacity 0.2s ease-in 0.02s;
  cursor: pointer;
}

.twitter-link {
  text-decoration: none;
}

.heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 400;
}

.quote-text,
.author-text {
  font-family: var(--secondary-font);
}

.author-text {
  font-size: 1.2rem;
}

.quote-text {
  font-size: 1.5rem;
  line-height: 2rem;
}
